$input_active: #486FD8;
$input_inactive: #C3C0C0;
$blue_hover: #6787DF;
$blue_clicked: #324E97; 
$placeholder: #8D939C;
$black: #111F30;

$blue_primary: #486FD8;

$blue_bg: #EDF1FB;
$blue_bold: #486FD8;
$blue_text_bg: #B4C4EF;
$medical_note: #95ABE8;

$purple_bg: #F6EDFB;
$purple_bold: #9238BC;
$purple_text_bg: #D9B4EF;

$green_bg: #DBF1DB;
$green_bold: #008000;
$green_text_bg: #8FDA8F;

$gray_border: #EFEFEF;
$gray_pfp: #D9D9D9;

$orange_btn: #FBAC36;
$black_link: #111F30;